/*This is the CSS for Blog pages*/


*{ /*border-style: solid;*/
    color: midnightblue;
    margin: 0px;
    line-height: 45px;
}
body {
    font-family: 'Dosis', sans-serif;
}
.answer {
    background-color:#e0e0eb;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    padding: 10px;
    text-indent: 1em;
    width:90%;
    line-height: 30px;
}
li {
    margin: 20px;
    max-width: 70%;
}
.title {
    color: #D77C15;
    font-weight: lighter;
    background-color: #4569AF;
    text-transform: uppercase;
    text-align: right;
    padding: 3%;
    width: 90%;
    font-size: 30px;
}
.spacer {
    padding: 50px;
}
.home-click {
    padding: 3%;
    background-color: #4569AF;
    font-size: 30px;
}
a:link {
    color:#D77C15;
    text-decoration: none;
}
a:visited {
    color:#D77C15;
    text-decoration: none;
}
a:hover {
    color: rgb(220, 105, 255);
    text-decoration: underline;
}
a:active {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
.flex-container {
    display : flex;
    position: fixed;
    width: 100%;
}
.container-small {
    flex: 50%;
}
.container-large {
    flex: 50%;
}

/* CSS for mobile devices*/

@media screen and (max-width: 900px) {
    .home-click {
        display: none;
    }
    .container-small {
        flex: 10%;
    }
    .container-large {
        flex: 90%;
    }
    .home-click-mobile {
        padding: 3%;
        background-color: #4569AF;
        font-size: 30px;
    }
    .title {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    .home-click-mobile {
         display: none;
    }
}